@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Corben&family=Open+Sans:wght@300;400&family=Oswald&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #f8fafc;
  color: #444;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-size: 16px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
h3 {
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #2978b5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1100px;
  height: 7em;
  margin: 0 auto;
}

.name {
  font-size: 1.7rem;
}

nav {
  margin-right: 1rem;
}

nav ul {
  display: flex;

  padding: 0.5rem;
}

nav a {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: lowercase;
  margin-right: 1.2rem;
}

nav a::before {
  content: '';
  width: 0;
  height: 0.2em;
  background: #00758f;
  display: inline;
  position: absolute;
  bottom: 0;
  transition: width 0.3s ease-in;
}

nav a:hover::before,
nav a :focus::before {
  width: 100%;
}

nav a:hover {
  color: #00758f;
}

.nav-links {
  color: #555;
}

.link-active {
  color: #00758f;
}

main {
  width: 95%;
  max-width: 1100px;

  margin: 0 auto;
}

.section {
  padding: 2rem 0;
  margin-top: 1em;
  margin-bottom: 2rem;
}

.section-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

/* 
======
About
======
  */

.section-about {
  width: 70%;
  margin: 0 auto;
}

.section-about p {
  letter-spacing: 2px;
  line-height: 2rem;
  font-weight: 400;
}

/* 
=========
Projects
=========
  */

.project-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.project {
  position: relative;
  width: 30%;
  margin: 1rem 0.5rem;
  padding: 1rem;
  transition: transform 0.2s linear;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project:hover {
  transform: translateY(-6px);
}

.project-box p {
  height: 40%;
  line-height: 1.7;
  text-align: left;
  padding-left: 20px;
}

.project-box-title {
  text-transform: capitalize;
  font-size: 1.7em;
  letter-spacing: 1px;
  line-height: 1.5;
}

.project_stack {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.project_stack li {
  margin-right: 1rem;
  color: #444;
  font-weight: 800;
}

.link-project {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #444;
}

.link-project:hover {
  color: #00758f;
}

/* 
=======
Skills
=======
 */

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
  padding: 0.2rem;
}
.skills ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}

.skills li {
  margin: 1rem 0.8rem;
  border: 1px solid transparent;

  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  transition: all 0.2s linear;
}

.skills li:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.skills-box {
  width: 33%;
  padding: 1rem;
}

.logo-icon {
  vertical-align: text-bottom;
  font-size: 25px;
  margin-right: 2px;
}

.html5 {
  fill: #f67b46;
}

.css3 {
  fill: #2965f1;
}

.js {
  fill: #f0db4f;
}

.node {
  fill: #689f63;
}

.mongo {
  fill: #4db33d;
}

.sql {
  fill: #00758f;
}

.react {
  fill: #61dbfb;
}

.jquery {
  fill: #0868ac;
}

.bootstrap {
  fill: #602c50;
}

.span-html {
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.html,
.span-html {
  line-height: 1.8rem;
}

/* 
======
Footer
======= 
  */

footer {
  background: #040b1e;
  padding: 2rem 0;
  color: #f5f5f5;
  margin-top: 5rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a {
  margin-right: 1rem;
  color: #f5f5f5;
  font-size: 1.7rem;
  transition: all 0.2s linear;
}
.social-links a:hover {
  transform: translateY(-7px);
  opacity: 0.5;
}

/* 
============
media screen
============
 */

@media screen and (max-width: 767px) {
  .skills-box {
    width: 100%;

    background: #fff;

    /* padding: 2rem; */
  }

  .project-box {
    flex-wrap: wrap;
  }

  .project {
    width: 100%;
  }

  nav ul li a,
  span.name {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 300px) {
  header {
    flex-direction: column;

    justify-content: center;
  }
  span.name {
    padding-top: 1rem;
    border-right: none;
    margin-bottom: 0.5rem;
  }
}
